.general-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}


.thumbnail-yt {
    width: 100%;
}


.channel {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.video-grid {
    margin-top:8px;
    display: grid;
    grid-template-columns: 50px 1fr;
}


.info {
    margin-left:6px;
}


.video-name {
    font-weight:bold;
}

.author ,
.stats {
    font-size:14px;
    color:gray;
}

.author {
    margin-top:8px;
    margin-bottom:4px;

}